@import "local.css";
.header,.banner,.card,button {
    padding: 15px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}
.header,.banner {border-radius: 0px;}
.header {margin-bottom: 5%;}

.card {
    width: fit-content;
    min-width: 30%;
    max-width: 60%;
    transition: box-shadow 500ms, background-color 700ms;
    margin-bottom: 10%;
}
.card:hover { box-shadow: 0 4px 10px rgba(0, 0, 0.8);}
body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 900;
    font-size: 18;
 }
button {
    border: none;
    transition: box-shadow 500ms;
    margin-right: 25px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
}
button:hover {box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);}
.left {float: left;}
.right {float: right;}
.top {position: relative; bottom: 100%}
.bottom {position: relative; top: 100%}
.absolute {position: absolute;}
a {text-decoration: none;}