@import "AquaMain.css";
.header,.banner,.card {background-color: rgba(163, 163, 163, 0.3);}
.card {transition: background-color 700ms;}
.card:hover {background-color: rgba(201, 198, 198, 0.6);}
body {
    background-color: #fff;
    color: #202020; 
}
button {background-image: linear-gradient(-150deg, rgba(255, 255, 255, 0.6), rgba(95, 94, 94, 0.5));}
a,button {color: #fff;}