textarea {
    width: 50%;
    height: 100%;
    resize: none;
    padding: 15px;
    box-shadow: 4px 4px rgba(110, 110, 110, 0.3);
    font-size: 20px;
    border-radius: 15px;
    color: #fff;
    font-weight: 900;
    background-color: #2e3440
}
#selectFile {opacity: 0; width: inherit; height: inherit;}
#output {padding: 12px}
