textarea {
    width: 50%;
    height: 100%;
    max-height: 85%;
    resize: none;
    padding: 15px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    border-radius: 15px;
}
#selectFile {
    opacity: 0;
}
#upload label {
    border-radius: 20px;
    background-image: linear-gradient(-150deg, rgba(255, 255, 255, 0.6), rgba(95, 94, 94, 0.5));
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    margin-left: 25px;
    position: relative;
    bottom: 33px;
}