textarea {
    width: 50%;
    height: 100%;
    max-height: 85%;
    resize: none;
    padding: 15px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    border-radius: 15px;
}
#selectFile {
    opacity: 0;
}
#upload label {
    border-radius: 20px;
    background-color: #1c1f25;
    box-shadow: 0 4px 7px rgba(201, 201, 201, 0.6);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    margin-left: 15px;
    position: relative;
    bottom: 38px;
    transition: box-shadow 500ms;
}
#upload label:hover {
    box-shadow: 0 4px 10px rgb(201, 201, 201);
}